
body
 {
  background-image:url(garden1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
a{
  display: flex;
}
.signup-box {
  width: 360px;
  height: 620px;
  margin: auto;
  background-color: white;
  border-radius: 3px;
}
.login-box {
  width: 350px;
  height: 500px;
  margin: auto;
  border-radius: 13px;
  background-color: white;
  padding-right: 2px;

}
h1 {
  text-align: center;
  padding-top: 15px;
}
h4 {
  text-align: center;
}
form {
  width: 250px;
  margin-bottom: 200px;
  padding-left: 45px;
  padding-top: 30px;
  align-items: center;
  align-content:center;
}


form input {
  width: 100%;
  height:25px;
  padding: 10px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
input[type="button"] {
  width: 200px;
  height: 35px;
  margin-top: 15px;
  margin-left: 40px;
  border: none;
  background-color: #13ad37c9;
  color: white;
  font-size: 18px;
  border-radius: 6px;
}
.jo{
  width: 150px;
  height: 30px;
  border-radius: 6px;
  margin-top: 30px;
  margin-left: 02px;
  border: none;
  background-color: #c21111;
  color: white;
  font-size: 18px;
}
.do{
   border-radius: 6px;
  width: 150px;
  height: 30px;
  margin-top: 10px;
  margin-left: -30px;
  border: none;
  background-color: #1b64b8;
  color: white;
  font-size: 18px;
}

p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}
.welcome
{
  text-align:center;
  color: rgb(26, 97, 212);
  margin-top: 10px;
  margin-left: 40px;
}
.riha
{
  text-align:center;
  color: rgb(26, 97, 212);
  margin-top: 50px;
  margin-bottom: -10px;
  
  margin-left: -30px;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.riya
{
  margin-top: 5px;
  margin-left: -120px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.anto
{
  margin-bottom: -50px;
  
  margin-top: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif

}
.qu{
  padding-top: -50px;
  margin-left: 500px;
  color: aliceblue;

}
.qe{
  padding-top: -60px;
  padding-left: -60px;
  margin-left: 700px;
  color: aliceblue;

}


